# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist
node_modules
coverage

# Environment (contains sensitive data)
.env
.env.example

# Extras
.editorconfig
.vscode/
Dockerfile
README.md
npm-debug.log
init_db
test
src/scripts/